.class1{
     color: red;
     background-color: #123;
     padding-bottom: 5px;
     border: 1px solid gray;
     margin-top: 10px;
 }
.class2{
    color: red;
    background-color: #123;
    padding-bottom: 5px;
    border: 1px solid gray;
    margin-top: 10px;
}
.class3{
    color: red;
    background-color: #123;
    padding-bottom: 5px;
    border: 1px solid gray;
    margin-top: 10px;
}
.class4{
    color: red;
    background-color: #123;
    padding-bottom: 5px;
    border: 1px solid gray;
    margin-top: 10px;
}